---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Braden Marshall">
	<div class="header-container">
		<header>
			<h1 class="text-title">Braden Marshall</h1>
			<p>Building mobile at <a href="https://attio.com/">attio</a>.</p>
		</header>
	</div>
</Layout>

<style>
	.header-container {
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	header > p {
		color: var(--text-secondary);
		font-size: 1rem;
		padding: 0 0.15rem;
	}

	header > p > a {
		color: var(--text-secondary);
		font-size: 1rem;
		font-weight: 500;
		text-decoration: none;
		transition: color .3s ease-in-out;
	}

	header > p > a:hover {
		color: var(--text-link);
		font-size: 1rem;
		font-weight: 500;
		text-decoration: none;
	}

	h1 {
		font-size: 2.5rem;
		line-height: 2.5rem;
		font-weight: 800;
		margin: 0;
	}

	.text-title {
		font-family: 'BrutalType', system-ui, sans-serif;
		color: var(--text-primary);
		text-transform: uppercase;
	}
</style>
